<div class='container' >
	<div class='row' >
		<div class='col-md-3'>			
			<h4>
				Name
			</h4>
		</div>
		<div class='col-md-3'>
			<h4>
				Percent Change
			</h4>
		</div>
		<div class='col-md-3'>
			<h4>
				Delta Percent 
			</h4>
		</div>
		<div class='col-md-3'>
			<h4>
				Last Trade Date
			</h4>
		</div>

		<%- @stocks.each do |stock|%>
		<%- data_stock = StockQuote::Stock.quote(stock.symbol) %>
		<div class='col-md-3'>			
			<%= data_stock.name %>
		</div>
		<div class='col-md-3'>
			<%= data_stock.percent_change %>
		</div>
		<div class='col-md-3'>
			<%= data_stock.change_percent_change %>
		</div>
		<div class='col-md-3'>
			<%= data_stock.last_trade_date %>
		</div>
		<%- end %>
	</div>
</div>