<div class='nav-bar nav-bar-style' >
	<div class='row' >
		<div class='col-md-6 header-logo'>
			<h1>
				Stock Monitor
			</h1>
		</div>
		<div class='col-md-2 header-buttons'>
			<div class="btn-group">
				<%= link_to "Add Stock", controller: 'stocks', action: 'new'%>
			</div>
		</div>
		<div class='col-md-2 header-buttons'>
			<div class="btn-group">
				<%= link_to "Logout", controller: 'sessions', action: 'logout'%>
			</div>
		</div>
	</div>
</div>