<div class='nav-bar nav-bar-style' >
	<div class='row' >
		<div class='col-md-6 header-logo'>
			<h1>
				Stock Monitor
			</h1>
		</div>
		<div class='col-md-2 header-buttons'>
			<div class="btn-group">
				<%= 
					if session[:user_id] != nil
						link_to "Add Stock", controller: 'stocks', action: 'new'
					end
				%>
			</div>
		</div>
		<div class='col-md-2 header-buttons'>
			<div class="btn-group loginBtnsContainer">
				<%= 
					if session[:user_id] != nil
						link_to "Logout", {controller: 'sessions', 
						:action=> 'logout'}, :class=>'loginBtns'
					else
						link_to "Login",  {controller: 'sessions', 
						:action=>'login'}, :class=>'loginBtns'
					end 
				%>
				| <%= link_to "Sign Up", {controller: 'users', action: 'new'}, :class=>'loginBtns' %>
			</div>

		</div>
	</div>
</div>

